@model PetShop.Models.Type

@{
    ViewData["Title"] = "Tạo loại sản phẩm";
}
<div class="app-content-header"> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <h3 class="main-color">PetShop <span class=" text-muted"> - Tạo loại sản phẩm</span></h3>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row g-3">
        <div class="col-12">
            <div class="callout callout-main-color">
                Tạo một loại sản phẩm mới bằng cách điền thông tin tương ứng vào đây.
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-8 col-12 mx-auto">
                <div class="card  card-outline mt-4 p-2">
                    <div class="card-header">
                        <div class="card-title">Biểu mẫu tạo loại sản phẩm</div>
                    </div>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body mt-2">
                            <div class="row mb-4">
                                 <label asp-for="Name" class="col-md-3 col-form-label"></label>
                                <div class="col-md-9">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label asp-for="DisplayOrder" class="col-md-3 col-form-label"></label>
                                <div class="col-md-4">
                                    <input asp-for="DisplayOrder" class="form-control" />
                                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center py-3">
                            <input type="submit" value="Tạo mới" class="btn btn-main-color me-5" />
                            <a asp-action="Index" class="btn btn-secondary ">Hủy</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
